body{
    font-family:  Verdana, Geneva, Tahoma, sans-serif;
    background-color: blanchedalmond;
}
h1{
color:black;
font-family: 'Times New Roman', Times, serif;
font-weight: bold;
}
form{
    background-color: aliceblue;
    text-align: center;
    max-width: 350px;
    border-radius: 10px;
    margin: auto;
    padding: 25px;
    box-shadow: 5px 10px 10px  black;
}
#textBox{
    width:50%;
    text-align: center;
    font-size: 2em;
    border: 1px solid black;
    border-radius: 10px;
    margin-bottom: 15px;
}
button{
   margin-top: 15px;
   font-size: 1.5em;

   background-color: hsl(0, 90%, 52%);
}
label{
    font-size: 1.5em;
    font-weight: bold;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    font-family: 'Times New Roman', Times, serif;


}
button:hover{
    background-color: hsl(137, 53%, 55%);
}
#result{
    font-size: 1.75em;
    font-weight: bold;
}